.nav {
    background-color: #409EFF;
    height: 80px;
    color: white;
}
.nav a {
    color: white;
    text-decoration: none;
    line-height: 80px;
    font-size: 16px;
    font-weight: 500;
}

.li {
    background-color: #eeeeee;
}
._container{
    width: 90%;
    margin:  0 auto;
}

.user {
    display: inline-block;
    position: relative;
    padding-bottom: 30px;
}

#user_btn {
    position: absolute;
    z-index: 111;
    display: none;
    background-color: #409EFF;
    color: black;
    width: 130px;
}
.user_btn a{
    /*height: 10px;*/
    /*color: black;*/
    /*background-color: #409EFF;*/
}
.user_btn{
    height: 30px;
    background-color: #409EFF;
}


/*以上是分类导航的样式*/


.nav_bar{

}
.nav_bar_i{
    height: 50px;
    padding-left: 50px;
    transition:0.5s;
}
.nav_bar a{
    text-decoration: none;
    line-height: 50px;
}

.nav_bar_i:hover{
    background-color: #ecf5ff;
}
.img_product{
    width: 161px;
    height: 100px;
}



.inp_nav{
    width: 300px;
    margin: 10px;
    display: inline-block;
}
.inp_tit,
#cat_id{
    width: 300px;
    margin: 10px;
    display: inline-block;
}
.file_inp
{
    margin: 10px;
    display: inline-block;
}
#btn_button{
 margin: 3px 10px 10px 10px;
}
#show_rule{
    width: 300px;
    margin: 10px;
    display: inline-block;
    margin-bottom: 30px;
}

.col_cat{
    padding: 10px 0 5px 0;
    border-bottom: 1px rgba(0,0,0,.1)dashed;
}

.opt{
    padding-left: 12px;
}
.nav_{
    padding: 10px 0;
}

.remove,
.update{
    background-color: #409EFF;
    border: none;
    width: 55px;
    border-radius: 5px;
    color: white;
    font-weight: 300;
    font-size: 14px;
    /*margin-bottom: 5px;*/
    outline: none;
}